<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>render-pokemon</title>
</head>
<body onload="init()">
<button id="button">Clica!</button>
<div id="pokemon"></div>
<!--<script src="init.js"></script>-->
<script>
    function init(){
        fetch('http://localhost:8080/api/devolver')
            .then(response=> response.json())
            .then(data=>document.getElementById("pokemon").innerHTML=

                `<ul>
                    <li>${data.id}</li>
                    <li>${data.nombre}</li>
                    <li>${data.tipo}</li>
                    <li>${data.nivel}</li>
                </ul>`
            )
            .catch(error=>console.log(error))
    }
</script>
</body>
</html>